<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Auction Name</th>
      <th scope="col">User Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @auctions.each do |auction|%>
       <tr>
        <th scope="row"><%= auction.id%></th>
        <td><%= auction.product_name%></td>
        <td><%= auction.user.email%></td>
        <td><%= link_to "edit", edit_auction_path(auction.id)%></td>
        <td><%= link_to "show", auction_path(auction.id)%></td>
        <td><%= button_to "delete", auction_path(auction.id), method: :delete %></td>
      </tr>
    <%end%>
  </tbody>
</table>
